

.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width: 10px;
    background-color: white;
    border-style: ridge;
    border-color: rgb(218, 216, 205);
    margin-top: 99px;
   
}

